{% include "users_page/partials/error.html" %}

{% for comment in comments.comments.content.all reversed %}

<div class="comment_box">
    <div class="nick_for_comment">{{ comment.author_name }}</div>
    <div id="star{{comment.id}}" class="star_in_comment"></div>
    <div class="text_comment">
        {{ comment.text }}
    </div> 
</div>

{% endfor %}

<script type="text/javascript">
    $(document).ready(function() {
        {% for comment in comments.comments.content.all %}
            $('#star{{ comment.id }}').raty({path: "\ /static/js/raty/images",  starOff: 'star-off.png',
  starOn: 'star-on.png', readOnly: true, score: parseInt({{ comment.rating }}) });
        {% endfor %}
    });
</script>